@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  /* Цвет фона */
  --color-brand-primary: #111f24;
  /* Цвет хедера  */
  --color-brand-secondary: #c7f121;
  --color-brand-accent: #ed79ad;
  --color-surface: #ffffff;
  --color-text: #1f2937;

  /* Шрифты */
  --font-family-base: "Inter", system-ui, sans-serif;
  --font-family-secondary: "IBM Plex Mono", monospace;
  --font-family-heading: "Poppins", system-ui, sans-serif;
}

body {
  margin: 0;
}
