@import "tailwindcss";

@theme {
  --color-brand-primary: #111f24;
  --color-brand-secondary: #8b5cf6;
  --color-brand-accent: #ec4899;
  --color-surface: #ffffff;
  --color-text: #1f2937;

  --font-family-base: "Inter", system-ui, sans-serif;
  --font-family-heading: "Poppins", system-ui, sans-serif;
}

body {
  margin: 0;
}
